<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Meteo Page</title>
</head>
<body>

<div style="float:right">
    <form align="right" name="form1" method="post" action="log_out.php">
        <label class="logoutLblPos">
            <input name="submit2" type="submit" id="submit2" value="log out">
        </label>
    </form>
</div>

<ul th:each="forecast : ${myForecasts}">
  <li>
    <span th:text="${forecast.date}"></span>
    <span th:text="${forecast.temperature}"></span>
  </li>

</ul>
</body>
</html>